@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap");
body {
  background-color: #111827;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1.5625rem;
}
.header__logo {
  width: 4.25rem;
  height: 4.25rem;
}
.header__menu {
  font-size: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.hero {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.875rem;
}
.hero__title {
  font-weight: 900;
  font-size: 2.5rem;
  color: #8d682d;
}
.hero__subtitle, .hero__text {
  display: none;
}
.hero__description {
  width: 22ch;
  font-weight: 400;
  white-space: nowrap;
  border-right: 0.1rem solid #fff;
  animation: typing 2s steps(22), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
.hero__logo {
  display: none;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.hero__icon {
  font-size: 2rem;
  animation: floating infinite 1s;
}
@keyframes floating {
  0% {
    transform: translateY(0.75rem);
  }
  50% {
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateY(0.75rem);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  justify-content: center;
  align-items: center;
  gap: 6.25rem;
}
.form__info {
  text-align: center;
  padding-bottom: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form__title {
  font-size: 24px;
}
.form__group {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
}
.form__input {
  border-bottom: 1px solid white;
  outline: none;
  transform: translateY(20px);
  animation: shake 0.14s 3;
}
@keyframes shake {
  0%, 100% {
    translate: 0;
  }
  25% {
    translate: 8px 0;
  }
  75% {
    translate: -8px 0;
  }
}
.form__input:valid {
  border-color: red;
  animation: none;
}
.form__label {
  color: #8d682d;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease;
}
.form__input:focus + .form__label, .form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
}
.form__button {
  background-color: #8d682d;
  color: #111827;
  padding: 1.25rem 3.125rem;
  border-radius: 9px;
  font-weight: 900;
  border: 3px solid transparent;
  cursor: pointer;
  transition: all 0.1s ease;
}
.form__button:hover {
  background-color: transparent;
  border: 3px solid #8d682d;
  color: #fff;
}

@media (width >= 1023px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .header__menu {
    display: none;
  }
  .hero__icon {
    display: none;
  }
  .hero__logo {
    width: 100px;
    height: 100px;
    display: block;
    animation: floating infinite 2s;
  }
  @keyframes floating {
    0% {
      transform: translateY(0.75rem);
    }
    50% {
      transform: translateY(1.5rem);
    }
    100% {
      transform: translateY(0.75rem);
    }
  }
  .hero__subtitle, .hero__text {
    display: block;
  }
  .hero__subtitle {
    font-size: 1.875rem;
    font-weight: 600;
    color: #8d682d;
  }
  .form__info {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
