@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap");

// Colors

$principal-color: #111827;
$secondary-color: #8d682d;
$white: #fff;

// Font and Weights

$montserrat-font: "Montserrat", sans-serif;
$weight-400: 400;
$weight-600: 600;
$weight-900: 900;
